target/
.git/
.gitignore
*.md
.DS_Store
.idea/
*.iml
.vscode/
*.log
*.tmp
*.swp
.env
.env.local
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.classpath
**/.project
**/.settings
**/nbproject/private/
